## Part 1: Preprocessing

In [177]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
import tensorflow as tf

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [178]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [179]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]

In [180]:
# Create a list of at least 10 column names to use as X data
X_data = attrition_df[['Age', 'DistanceFromHome', 'Education', 'YearsAtCompany', 'HourlyRate', 'BusinessTravel', 'JobSatisfaction', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating' ]]

# Create X_df using your selected columns
X_df = X_data

# Show the data types for X_df
X_df.dtypes

Age                    int64
DistanceFromHome       int64
Education              int64
YearsAtCompany         int64
HourlyRate             int64
BusinessTravel        object
JobSatisfaction        int64
NumCompaniesWorked     int64
PercentSalaryHike      int64
PerformanceRating      int64
dtype: object

In [181]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=7)

In [182]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train['BusinessTravel'].value_counts()

BusinessTravel
Travel_Rarely        777
Travel_Frequently    213
Non-Travel           112
Name: count, dtype: int64

In [183]:
# Create a LabelEncoder for the BusinessTravel column and fit it to the training and testing data
le = LabelEncoder()
X_train['BusinessTravel'] = le.fit_transform(X_train['BusinessTravel'])
X_test['BusinessTravel'] = le.fit_transform(X_test['BusinessTravel'])
X_train

,Age,DistanceFromHome,Education,YearsAtCompany,HourlyRate,BusinessTravel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,PerformanceRating
1098,40,8,2,2,72,0,4,3,18,3
786,27,8,5,3,87,0,3,1,19,3
83,38,6,3,13,79,0,4,7,12,3
115,37,3,3,5,87,2,4,2,12,3
1134,35,7,2,1,63,2,4,1,18,3
...,...,...,...,...,...,...,...,...,...,...
211,30,1,1,11,88,0,3,1,22,4
502,53,1,1,14,34,2,1,7,20,4
537,27,10,2,9,32,1,1,1,21,4
1220,36,2,4,13,51,2,4,3,15,3
175,56,8,3,2,67,2,1,4,18,3

In [184]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train = scaler.fit_transform(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

c:\Users\mward\anaconda3\envs\dev\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [185]:
# Create a OneHotEncoder for the Department column
ohe = OneHotEncoder(handle_unknown='ignore')

# Fit the encoder to the training data
ohe.fit(y_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_ohe = ohe.transform(y_train[['Department']])
y_test_ohe = ohe.transform(y_test[['Department']])

In [186]:
# Create a OneHotEncoder for the Attrition column
# Fit the encoder to the training data
ohe.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_ohe = ohe.transform(y_train[['Attrition']])
y_test_ohe = ohe.transform(y_test[['Attrition']])

## Part 2: Create, Compile, and Train the Model

In [187]:
# Find the number of columns in the X training data.
X_train_scaled.shape[1]

# Create the input layer
nn_model = tf.keras.models.Sequential()
input_nodes = X_train_scaled.shape[1]
nn_model.add(tf.keras.layers.Input(shape=(input_nodes,)))

# Create at least two shared layers
nn_model.add(tf.keras.layers.Dense(units=20, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=10, activation="relu"))

In [188]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [189]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [190]:
# Create the model


# Compile the model


# Summarize the model

In [191]:
# Train the model

In [192]:
# Evaluate the model with the testing data

In [193]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.